# Extract trends for a certain period of time for the porn website xvideos from archive.org

Download the dataset from 2018 (and avoid running this script) here https://drive.google.com/open?id=1PJXXjtnucZVAii6qDtkwKCI3QuLHOwit

## Load libraries

In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import re
import time
import matplotlib.pyplot as plt
from datetime import date
from datetime import timedelta
#from selenium import webdriver
%matplotlib inline

## Configuration

In [2]:
url = 'xvideos.com/'
names_to_search = ['manada','san fermin']
ini_date = date(2018, 1, 1)
end_date = date(2018, 12, 31)

ini_day = str(ini_date.day).zfill(2) 
ini_month = str(ini_date.month).zfill(2)
ini_year = str(ini_date.year)
end_day = str(end_date.day).zfill(2)
end_month = str(end_date.month).zfill(2)
end_year = str(end_date.year)

## Load website and crawl

In [ ]:
date = ini_date
database = pd.DataFrame(columns = ['Date','Top1','Top2','Top3',
                                   'Top4', 'Top5', 'Top6','Top7','Top8',
                                   'Top9','Top10','Top11','Top12','Top13'
                                   ,'Top14','Top15'])
counter = 0
while date < end_date + timedelta(days=1):
    counter += 1
    date_day = str(date.day).zfill(2) 
    date_month = str(date.month).zfill(2)
    date_year = str(date.year)
    date_timestamp = date_year+date_month+date_day+'000000'
    web_adress = 'http://web.archive.org/web/'+date_timestamp+'/http://'+url
    r = requests.get(web_adress) 
    real_timestamp = r.url.split('/')[4]
    try:
        page = requests.get('http://web.archive.org/web/'+real_timestamp+'/xvideos.com/')
        page_bs = bs(page.text,'html5lib')
        trends_tabs = page_bs.find_all("div", class_= "home-trends ordered-label-list")

        trends_tabs = trends_tabs[0].find_all("a", class_= "btn btn-default")
        top_trends = pd.DataFrame()
        top_trends['Date'] =  [pd.Timestamp(str(real_timestamp)[0:4]+'/'+str(real_timestamp)[4:6]+'/'+str(real_timestamp)[6:8])]
        #print(top_trends)
        for i in range(1,16):
            top_trends['Top'+str(i)] = [trends_tabs[i-1].text]

        database = database.append(top_trends)
    except:
        print('excepciÃ³n')
    print(counter, " ", date)   
    date += timedelta(days=1)
database.to_csv('xvideos_top_searches.csv')

## Explore data

In [7]:
database.head()

,Date,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,Top11,Top12,Top13,Top14,Top15
0,2017-12-31,Karlee grey,Cardi b,Vr,Strip club,Chevy cobain,Helena price,Aunt gives her nephew a massage,Franceska jaimes,Lifted,Real wife stories,White trash,Povd,Aunt massage,Ella hughes,Sex slave
0,2018-01-02,Tinder,Strip club,New years,Cardi b,Krissy lynn,New year,Kiki minaj,Strip club surprise,Athena faris,Oops,Alexis breeze,2018,Alli ava,Aunt gives her nephew a massage,White trash
0,2018-01-02,Tinder,New years,Stuck,Cory chase,New year,2018,Strip club,Tia sweets,Athena faris,Veronika raquel,Racist,Oops,Ebony banks,Kiki minaj,Tia cyrus
0,2018-01-03,Tinder,Cardi b,Tia sweets,Tia cyrus,Prostitute,New years,Harlow harrison,2018,Ebony banks,Natasha nice,Racist,Brittney white,Alexis adams,Synthia fixx,Oops
0,2018-01-05,Tinder,Olivia austin,Jade kush,Lana rhoades,Revenge,Tiffany sparkz,Virgo peridot,Sleepover,Military,Clara morgane,Skyler luv,Povd,2018,Nayla simone,Wenona

## Columns into rows

In [8]:
database = pd.read_csv('xvideos_top_searches.csv')

In [ ]:
in_rows = pd.DataFrame(columns = ['date','search word','rank'])
for index, row in database.iterrows():
    for i in range(1,len(row)): 
        new_row = pd.DataFrame()
        new_row['date'] = [row[0]]
        new_row['search word'] = [row[i]]
        new_row['rank'] = [i]
        in_rows = in_rows.append(new_row)
in_rows.to_csv('xvideos_top_searches_in_rows.csv')

## Load csv

In [2]:
in_rows = pd.read_csv('xvideos_top_searches_in_rows.csv')

### Top 5 keywords with most apperances in the first positions

In [3]:
in_rows.loc[in_rows['rank']==1].groupby('search word').agg({'rank':'count'}).sort_values(['rank'],ascending=False).reset_index().head(5)

      search word  rank
0          Tinder    17
1  Stormy daniels    15
2       Halloween    10
3          Midget     9
4       Christmas     9

In [6]:
in_rows.groupby('search word').agg({'rank':'count'}).sort_values(['rank'],ascending=False).reset_index().head(10)

       search word  rank
0   Stormy daniels    39
1        Christmas    38
2        Halloween    35
3        Jade kush    32
4         Sex doll    31
5            Lil d    31
6       Pure taboo    29
7    Mom helps son    24
8    Mother in law    24
9  Forbidden taboo    24